<!DOCTYPE html>
<html>
<head>
  <title>CooperaDona</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="dashboard.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script>
    $(function() {
      $( document ).tooltip();
    });
  </script>
  <style>
    label {
      display: inline-block;
      width: 2em;
    }
  </style>
</head>
<body>

  <div class="logo_header"></div>

  <div class="container">
    <div class="profile">
      <p>
        <img src="img/dona4.png">
        <%= @PessoaPerfil.nome %>
         <a href="/pessoas/<%=@PessoaPerfil.id%>/edit">Editar</a>
      </p>

        <h2>Quer Aprender</h2>
            <%
              @ListaHabilidades = "" 
              @PessoaPerfil.habilidades_aprender.group(:nome).map { |e| @ListaHabilidades += e.nome + ", " }

            %>
            <h3><%= @ListaHabilidades[0..-3] %></h3>

        <h2>Quer Ensinar</h2>
            <%
              @ListaHabilidades2 = ""
              @PessoaPerfil.habilidades_ensinar.group(:nome).map { |e| @ListaHabilidades2 += e.nome + ", " }
            %>
            <h3><%= @ListaHabilidades2[0..-3] %></h3>
    </div>


    <div class="column">
      <h1>Quem pode te ensinar</h1>
      <% @Pessoas.each do |pessoa| %>
        <p>
          <img src="img/dona4.png" title="<%= pessoa.nome %>">
          <span style=""><strong><%= pessoa.nome %></strong> pode te ensinar <strong><%= pessoa.habilidades_ensinar.sample.nome %></strong>. <a href="mailto: <%= pessoa.email %>"><button>Saiba mais</button></a></span>

        </p>
        
      <% end %>
    </div>


    <div class="column">
      <h1> Quem você pode ensinar</h1>
      <% @Pessoas.each do |pessoa| %>
        <p>
          <img src="img/dona4.png" title="<%= pessoa.nome %>">
          <span style=""><strong><%= pessoa.nome %></strong> quer aprender <strong><%= pessoa.habilidades_ensinar.sample.nome %></strong>. <a href= "mailto: <%= pessoa.email %>"> <button>Saiba mais</button></a></span>

        </p>
        
      <% end %>
    </div>
  </div>
  <div>

</body>
</html>