.coluna-1 {
  width: 30%;
  border: 2px solid black;
  margin-top: 2%;
  display: inline-block;
  text-align: center;

}

ul {   
  list-style: none;
  border: 2px solid black;
  background: green;
  margin: 5%;

}

.coluna-2 {
  width: 30%;
  border: 2px solid black;
  margin-top: 2%;
  display: inline-block;
  text-align: center;
}

.coluna-3 {
  width: 30%;
  border: 2px solid black;
  margin-top: 2%;
  display: inline-block; 
  text-align: center;

}

body {
  margin: 0;
}

fieldset {
  padding: 10%;
}

.nome-profile {
  font-size: 8px;
  margin-top: -15%;
  color: rgba(0, 0, 0, 0.5);
}
h2 {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.botao-editar a {
  width: 60px;
  height: 30px;
  margin-top: -200px;
}